<div class="container homepage">
  <div class="row">
    <div class="col-8">
      <h1 class="heading">Keep your sentimo Busy with AppName</h1>
    </div>
    <div class="col-4">
      <div class="description">
        <p>Invest in stocks, bonds, ETFs, and much more with as little as $1. No trading fees involved</p>
        <a href="/users/sign_up" class="start-trading"><button>Start trading</button></a>
      </div>
    </div>
  </div>
</div>