<div class="container homepage">
  <div class="row">
    <div class="col-8">
      <h1>Keep your sentimo Busy with AppName</h1>
    </div>
    <div class="col-4">
      <p>Invest in stocks, bonds, ETFs, and much more with as little as $1. No trading fees involved</p>
      <button>Start trading</button>
    </div>
  </div>
</div>