<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @user.first_name %> <%= @user.last_name %>!</h1>
    <p>
        Your AppName account is now approved. You are now a verified AppName<br>
        trader. To make your first trade, you may now log in to your account<br>
        and buy your very first stock.
    </p>
    <br>
    <p>
        To thank you for taking the time to wait for your account approval,<br>
        and for your support to AppName, AppName is giving you an initial<br>
        balance of 10000!
    </p>
    <br>
    <br>
    <p><i>This is an automated message, please do not reply.</i></p>
  </body>
</html>