<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.first_name %> <%= @user.last_name %>!</h1>
    <p>
        Welcome to AppName! You have successfully created an account!<br>
        In AppName, you will have access to a variety of stocks that<br>
        you can buy and sell once your account has been approved.<br>
        Please wait for our team to verify and approve your account<br>
        before you can use our services. We will send an email once<br>
        your account has been approved.
    </p>
    <br>
    <p>Thanks for joining AppName and have a great day!</p>
    <br>
    <br>
    <p><i>This is an automated message, please do not reply.</i></p>
  </body>
</html>