.session-img {
  height: 75vh;
}

.session-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#user_email, #user_password, 
#user_first_name, #user_last_name, 
#user_password_confirmation {
  width: 50%;
}

.actions {
  padding: 20px;
}