.session-img {
  height: 75vh;
}

.session-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#user_email {
  width: 50%;
}

#user_password {
  width: 50%;
}