.homepage {
  width: 100%;
  height: 75vh;
  background-image: url("landing-page.png");
  background-size: cover;
  background-position: center;
}

.navbar {
  background-color: #2a66ff;
}

.nav-link {
  color: #fff !important;
}

.heading {
  font-size:70px;
  padding: 10%;
}

.description {
  font-size: 25px;
  padding: 15%;
}

footer {
  text-align: center;
  padding-top: 20px;
}

footer p {
  margin: 0;
}

