<h1>Admin</h1>

<% @users.each do |user| %>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Balance</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>fname</td>
      <td>lname</td>
      <td><%= user.email %></td>
      <td>balance</td>
      <td>status</td>
    </tr>
  </table>
<% end %>